<div>
  <h2>Add Task</h2>
  <div>
    <input [(ngModel)]="dailyTask.title" placeholder="Title" /><br>
    <input [(ngModel)]="dailyTask.description" placeholder="Description" /><br>
    <input [(ngModel)]="dailyTask.priority" placeholder="Priority" type="number" min="1" max="5" /><br>
    <input [(ngModel)]="dailyTask.status" placeholder="Status" type="number" min="0" max="3" /><br>
    <employee-selectlist (notify)="assignEmployeeId($event)"></employee-selectlist><br>
  </div>
  <button type="button" class="btn btn-primary" (click)='clickSubmit()'>Submit</button>
</div>


