<div class="alert alert-success" role="alert" *ngIf="msgId==1">
  Successfully added
  <button class="btn btn-primary pt-0 pb-0" type="button" (click)="addForm = true; msgId = -1">Add another</button>
</div>
<div class="alert alert-danger" role="alert" *ngIf="msgId==0">
  Failed to add
</div>

<div *ngIf="addForm">
  <h2>Add Task</h2>
  <div class="col-5">

    <div class="form-group">
      <input [(ngModel)]="dailyTask.title" class="form-control" id="inputTitle" placeholder="Title">
    </div>
    <div class="form-group">
      <input [(ngModel)]="dailyTask.description" class="form-control" id="inputDescription" placeholder="Description">
    </div>
    <div class="form-group">
      <input [(ngModel)]="dailyTask.priority" class="form-control" type="number" min="1" max="5" id="inputPriority" placeholder="Priority">
    </div>
    <div class="form-group">
      <input [(ngModel)]="dailyTask.status" class="form-control" type="number" min="0" max="3" id="inputStatus" placeholder="Status">
    </div>
    <div class="form-group">
      <employee-selectlist (notify)="assignEmployeeId($event)"></employee-selectlist>
    </div>
    <button type="button" class="btn btn-primary" (click)='clickSubmit()'>Submit</button>

  </div>
</div>


