<h3 *ngIf="employee">
  {{ employee.lastName }} {{ employee.firstName }}
  <em *ngIf="employee.connected" class="text-success">Online</em>
  <em *ngIf="!employee.connected" class="text-danger">Offline</em>
</h3>

<p *ngIf="!employee"><em>Loading...</em></p>
<table class="table table-sm" *ngIf="employee">
  <tbody>
    <tr>
      <th class="w-25">TODO</th>
      <td>MORE DETAILS</td>
    </tr>
    <tr>
      <th class="w-25">First Name</th>
      <td>{{ employee.firstName }}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{ employee.lastName }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <em *ngIf="employee.connected" class="text-success">Online</em>
        <em *ngIf="!employee.connected" class="text-danger">Offline</em>
      </td>
    </tr>
  </tbody>
</table>
<h3>Task List</h3>
<p>TODO  employee task list</p>
