<h3>Employee List <button type="button" class="btn btn-primary">Add new</button></h3>

<p></p>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="employees">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td><a [routerLink]="['/employee', employee.employeeId]">{{ employee.lastName }} {{ employee.firstName }}</a></td>
      <td>
        <p *ngIf="employee.connected" class="text-success"><em>Online</em></p>
        <p *ngIf="!employee.connected" class="text-danger"><em>Offline</em></p>
      </td>
    </tr>
  </tbody>
</table>
