<button [ngClass]="hideCompleted ? 'btn btn-light pt-0 pb-0' : 'btn btn-dark pt-0 pb-0'" type="button" (click)='toggleShowAll()'>Show All</button>
<table class="table table-sm" *ngIf="tasks">
  <thead class="thead-light">
    <tr>
      <th class="col-1">Priority</th>
      <th class="col-1">Status</th>
      <th>Task Title</th>
      <th class="col-4" *ngIf="showEmployeeColumn">Employee</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>
        <priority-bar [priorityRating]="task.priority"></priority-bar>
      </td>
      <td [ngClass]="
            task.status == 0 ? 'taskCanceled'
              : task.status == 1 ? 'taskCompleted'
              : task.status == 2 ? 'taskOngoing'
              : task.status == 3 ? 'taskFrozen'
              : 'taskCompleted'
            ">
        {{ task.statusText }}
      </td>
      <td [ngClass]="
            task.status == 1 ? 'taskCompleted'
              : 'taskNormal'
            ">
        <a [routerLink]="['/task', task.dailyTaskId]">{{ task.title }}</a>
      </td>
      <td *ngIf="showEmployeeColumn">
        <a [routerLink]="['/employee', task.employeeId]">{{ task.employeeFullName }}</a>
      </td>
    </tr>
  </tbody>
</table>
