<h3 *ngIf="employee">
  {{ employee.fullName }}
  <em *ngIf="employee.online" class="text-success"> Online </em>
</h3>

<table class="table table-sm" *ngIf="employee">
  <tbody>
    <tr>
      <th class="w-25">Role</th>
      <td>{{ employee.roleName }}</td>
    </tr>
    <tr>
      <th class="w-25">Address</th>
      <td>{{ employee.address }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ employee.phone }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ employee.email }}</td>
    </tr>
  </tbody>
</table>

<employee-tasks [employeeId]="employee.employeeId"></employee-tasks>
