<h3 *ngIf="employee">
  {{ employee.fullName }}
  <em *ngIf="employee.online" class="text-success"> Online </em>
</h3>

<table class="table table-sm" *ngIf="employee">
  <tbody>
    <tr>
      <th class="w-25">Role</th>
      <td>{{ employee.roleName }}</td>
    </tr>
    <tr>
      <th class="w-25">Address</th>
      <td>{{ employee.address }}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{ employee.phone }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ employee.email }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="employee">
  <h3>Task List</h3>
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th class="col-1">Priority</th>
          <th class="col-1">Status</th>
          <th class="col-10">Task Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of employee.dailyTasks">
          <td>
            <priority-bar [priorityRating]="task.priority"></priority-bar>
          </td>
          <td [ngClass]="
              task.status == 0 ? 'taskCanceled'
                : task.status == 1 ? 'taskCompleted'
                : task.status == 2 ? 'taskOngoing'
                : task.status == 3 ? 'taskFrozen'
                : 'taskCompleted'
              ">{{ task.statusText }}</td>
          <td [ngClass]="
              task.status == 1 ? 'taskCompleted'
                : 'taskNormal'
              ">{{ task.title }}</td>
        </tr>
      </tbody>
    </table>
</div>
